In [1]:
#importing important libraries
import pandas as pd
import numpy as np

In [2]:
#importing/loading the dataset
path = "C:/Users/VIRTUOSO/Desktop/Hamoye Internship/Hamoye Journey/Stage_C/Data_for_UCI_named.csv"
d_grid = pd.read_csv(path)
df = d_grid.copy()
df

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.930406,9.487627,2.376523,6.187797,3.343416,-0.658054,-1.449106,-1.236256,0.601709,0.779642,0.813512,0.608385,0.023892,unstable
9996,3.392299,1.274827,2.954947,6.894759,4.349512,-1.663661,-0.952437,-1.733414,0.502079,0.567242,0.285880,0.366120,-0.025803,stable
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984,-0.031810,stable
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391,0.037789,unstable
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631,0.045263,unstable

In [3]:
df.shape

(10000, 14)

In [4]:
#confirming datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stab    10000 non-null  float64
 13  stabf   10000 non-null  object
dtypes: float64(13), object(1)
memory usage: 1.1+ MB

In [5]:
#checking for null values
print(df.isna().any())

tau1     False
tau2     False
tau3     False
tau4     False
p1       False
p2       False
p3       False
p4       False
g1       False
g2       False
g3       False
g4       False
stab     False
stabf    False
dtype: bool

In [6]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

# Preprocessing of Dataset Begins

In [7]:
#dropping 'stab' feature because of it's direct relationship with the 'stabf' feature
df = df.drop(['stab'], axis = 1)
df.head(2)

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable

In [9]:
X =df.drop(['stabf'], axis = 1)
y =df['stabf']

In [10]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable

In [11]:
#Splitting the data into 80-20 train-test split 

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [12]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((8000, 12), (8000,), (2000, 12), (2000,))

In [13]:
#Using the standard scaler to transform the train set and X_test
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [14]:
normalised_X_train = pd.DataFrame(scaler.fit_transform(X_train), columns = X_train.columns)
normallsed_X_test =  pd.DataFrame(scaler.transform(X_test), columns = X_test.columns)

In [15]:
#importing evaluation metrics and classifiers
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report

In [17]:
#Q2
TP = 255
FP = 1380
FN = 45
TN = 20
Precision = (TP/(TP+FP))
Recall =(TP/(TP+FN))
F1 = 2 * (Precision * Recall) / (Precision + Recall)
print(f'The F1_Score of this classifier is : {F1}')

The F1_Score of this classifier is : 0.2635658914728682

In [18]:
#Q14
#Creating a RandomForest Classifier
rfc = RandomForestClassifier(random_state = 1)
#Model Training
rfc.fit(normalised_X_train, y_train)
#the fit function trains the model with the training set inputs

RandomForestClassifier(random_state=1)

In [21]:
#prediciting on the test data
r_pred = rfc.predict(normallsed_X_test)
print('Accuracy: {}'.format(round(accuracy_score(y_test, r_pred),4)))

Accuracy: 0.929

In [ ]:
#Q15
#Creating a XGboost Classifier
xgb = XGBClassifier(random_state = 1, learning_rate = 0.1, max_depth = 4)
#Model Training
xgb.fit(normalised_X_train, y_train)

In [ ]:
#prediciting on the test data
x_pred = rfc.predict(normallsed_X_test)
print('Accuracy: {}'.format(round(accuracy_score(y_test, x_pred), 4)))

In [24]:
#Q16
#Creating a LGBM Classifier
lgbm = LGBMClassifier(random_state = 1)

#Model Training
lgbm.fit(normalised_X_train, y_train)

#prediciting on the test data
l_pred = lgbm.predict(normallsed_X_test)
print('Accuracy: {}'.format(round(accuracy_score(y_test, l_pred), 4)))

Accuracy: 0.9395

In [25]:
#Q17
#Creating an ExtraTrees Classifier
extree = ExtraTreesClassifier(random_state = 1)

extree.fit(normalised_X_train, y_train)

ex_pred = extree.predict(normallsed_X_test)

print('Accuracy: {}'.format(accuracy_score(y_test, ex_pred)))

Accuracy: 0.928

In [26]:
#Q20
#creating a function to return the importance of each feature
def get_feature_importance(model, feat, col_name):
    ft_importance = pd.Series(model.feature_importances_, feat.columns).sort_values()
    importance_df = pd.DataFrame(ft_importance).reset_index()
    importance_df.columns = ['Features', col_name]
    importance_df[col_name].round(3)
    return importance_df

In [27]:
feature_importance = get_feature_importance(extree, normalised_X_train, 'Feature_Importance')
feature_importance

   Features  Feature_Importance
0        p1            0.039507
1        p2            0.040371
2        p4            0.040579
3        p3            0.040706
4        g1            0.089783
5        g2            0.093676
6        g4            0.094019
7        g3            0.096883
8      tau3            0.113169
9      tau4            0.115466
10     tau1            0.117397
11     tau2            0.118445